Source: fll-installer
Section: admin
Priority: extra
Maintainer: Joaquim Boura <x-un-i@sidux.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 5), cdbs
Standards-Version: 3.7.2

Package: fll-installer
Architecture: all
Depends: initramfs-tools, grub-gfxboot | grub, procps, udev-config-sidux, whois, os-prober, rsync, fll-live-initscripts
Recommends: install-gui, install-meta
Suggests: gparted, distro-defaults
Description: backend scripts to install sidux to hd
 sidux-installer is an fully functional installation program
 to easily install sidux to hd. this are the backend scripts
