Source: fll-installer
Section: admin
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Niall Walsh <niallwalsh@celtux.org>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Vcs-Git: https://github.com/fullstory/fll-installer.git
Vcs-Browser: https://github.com/fullstory/fll-installer

Package: fll-installer
Architecture: all
Depends: ${misc:Depends},
 adduser,
 initramfs-tools,
 grub-pc | grub-efi,
 lsof,
 procps,
 udev-config-aptosid,
 whois,
 os-prober,
 rsync,
 fll-live-initscripts
Recommends: install-gui
Suggests: gparted,
 distro-defaults
Description: backend scripts to install aptosid to hdd
 fll-installer provides a framework for installing FULLSTORY Live Linux
 to hard disk drives.
 .
 This is a FULLSTORY live-only package and should not be installed to an
 ordinary system.
